@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@font-face {
  font-family: "Metropolis-Bold";
  src: url("../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis/Metropolis-Regular.otf");
}
/**---Header height---**/
/**---Fonts---**/
/**---Font-Size---**/
/**---Font-Weight---**/
/**---Colors---**/
/**---Z-Index---**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3.5rem 0 0 0;
  font-family: Metropolis;
  background-color: #F7F5FA;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 5.5rem 0 1rem;
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis/Metropolis-Regular.otf");
}
/**---Header height---**/
/**---Fonts---**/
/**---Font-Size---**/
/**---Font-Weight---**/
/**---Colors---**/
/**---Z-Index---**/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #F7F5FA;
  padding: 1em;
}

.nav {
  height: 3.5rem;
}
.nav__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .dropdown__button {
  cursor: pointer;
}
.nav .dropdown__arrow {
  font-size: 18px;
  font-weight: initial;
  transition: transform 0.4s;
}
.nav .dropdown__container {
  background-color: #F7F5FA;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.nav .dropdown__content, .nav .dropdown__group, .nav .dropdown__list {
  display: grid;
}
.nav .dropdown__content {
  row-gap: 1.75rem;
}
.nav .dropdown__group {
  padding-left: 2rem;
  row-gap: 0.75rem;
}
.nav .dropdown__group:first-child {
  margin-top: 0.25rem;
}
.nav .dropdown__group:last-child {
  margin-bottom: 0.25rem;
}
.nav .dropdown__group .dropdown__list {
  row-gap: 0.5rem;
}
.nav .dropdown__group .dropdown__list .dropdown__link {
  font-size: 14px;
  font-weight: 600;
  color: #5D5A6F;
  transition: color 0.3s;
}
.nav .dropdown__group .dropdown__list .dropdown__link:hover {
  color: rgba(93, 90, 111, 0.6);
}
.nav .show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.75rem;
  color: #9C4DF4;
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
.nav__link {
  color: #0A033C;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.nav__link:hover {
  background-color: #F2E6FF;
}
.nav__right .bx-shopping-bag {
  color: #FF6652;
  padding: 0 0.5rem;
  font-size: 22px;
}
.nav__right .bx-user-circle {
  color: #9C4DF4;
  padding: 0 0.5rem;
  font-size: 22px;
}
.nav .show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100ch - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    transition: top 0.4s, opacity 0.3s;
    background-color: #F7F5FA;
    pointer-events: none;
    opacity: 0;
  }
}
@media screen and (min-width: 1118px) {
  .header {
    padding: 15px 80px;
  }
  .nav {
    height: calc(3.5rem+1rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__menu {
    display: flex;
    justify-content: space-between;
  }
  .nav__link {
    padding: 1.25rem 1rem;
  }
  .nav__link:hover {
    background-color: transparent;
    color: #9C4DF4;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    height: 100%;
  }
  .nav__right {
    margin-left: 3.5em;
  }
  .nav .dropdown__button {
    column-gap: 0.25rem;
  }
  .nav .dropdown__container {
    height: max-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 6.5rem;
    background-color: #F7F5FA;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.025);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav .dropdown__content {
    grid-template-columns: repeat(4, max-content);
    column-gap: 6rem;
    max-width: 1120px;
    margin-inline: auto;
  }
  .nav .dropdown__group {
    padding: 2.5rem 2rem;
    align-content: baseline;
    row-gap: 1.25rem;
  }
  .nav .dropdown__group:first-child, .nav .dropdown__group:last-child {
    margin: 0;
  }
  .nav .dropdown__list {
    row-gap: 0.75rem;
  }
  .nav .dropdown__link {
    font-size: 16px;
  }
  .nav .dropdown__link:hover {
    color: rgba(93, 90, 111, 0.6);
  }
  .nav .dropdown__item {
    cursor: pointer;
  }
  .nav .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .nav .dropdown__item:hover > .dropdown__container {
    top: 5.5rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis/Metropolis-Regular.otf");
}
/**---Header height---**/
/**---Fonts---**/
/**---Font-Size---**/
/**---Font-Weight---**/
/**---Colors---**/
/**---Z-Index---**/
.footer {
  display: grid;
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.footer__container {
  display: grid;
  row-gap: 2rem;
}
.footer__title {
  margin-bottom: 1rem;
  font-size: 22px;
  font-weight: 600;
}
.footer__logo img {
  margin-bottom: 0.75rem;
}
.footer__data {
  display: grid;
  row-gap: 0.75rem;
}
.footer__data .footer__social {
  display: flex;
  column-gap: 0.25em;
  padding: 0.5em 0;
}
.footer__data .footer__social-link {
  color: #0A033C;
  font-size: 18px;
  background-color: transparent;
  padding: 10px;
  transition: 0.1s;
}
.footer__data .footer__social-link:hover {
  background-color: #FF6652;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 25px;
}
.footer__information, .footer__information a {
  font-size: 16px;
  color: #5D5A6F;
}
.footer__information a:hover {
  color: #9C4DF4;
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 30px 80px;
  }
  .footer__container {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 4.5em;
  }
  .footer__title {
    margin-bottom: 1.5rem;
  }
  .footer__data {
    row-gap: 1.5rem;
  }
}
@font-face {
  font-family: "Metropolis-Bold";
  src: url("../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis/Metropolis-Regular.otf");
}
/**---Header height---**/
/**---Fonts---**/
/**---Font-Size---**/
/**---Font-Weight---**/
/**---Colors---**/
/**---Z-Index---**/
.button {
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
  font-family: Inter, sans-serif;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.button__primary--purple {
  background-color: #9C4DF4;
  color: #FFFFFF;
}

@font-face {
  font-family: "Metropolis-Bold";
  src: url("../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis/Metropolis-Regular.otf");
}
/**---Header height---**/
/**---Fonts---**/
/**---Font-Size---**/
/**---Font-Weight---**/
/**---Colors---**/
/**---Z-Index---**/
.subscribe {
  margin: 1em;
}
.subscribe__container {
  background-color: #0A033C;
  border-radius: 20px;
  padding: 3em 1em;
}
.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribe__info h3 {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 45px;
  margin-bottom: 1.5rem;
}
.subscribe__info p {
  font-size: 16px;
  color: #5D5A6F;
  margin-bottom: 1.5rem;
}
.subscribe__newsletter {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.subscribe__input {
  width: 70%;
  padding: 1.25rem;
  background: none;
  color: #FFFFFF;
  border: none;
  outline: none;
}
.subscribe__input::placeholder {
  color: #FFFFFF;
  font-family: Metropolis;
}
.subscribe .button {
  border-radius: 0 0.5em 0.5em 0;
}

/*# sourceMappingURL=main.css.map */
