@font-face {
    font-family: 'Metropolis-Bold';
    src: url("../../../fonts/Metropolis/Metropolis-Bold.otf");
}
@font-face {
    font-family: 'Metropolis-Regular';
    src: url("../../../fonts/Metropolis/Metropolis-Regular.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import './variables';
// Base
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color:#{$background-color};
}
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}

img{
    max-width: 100%;
    height: auto;
}