
/**---Header height---**/ 
$header-height: 3.5rem;

$h1-font-size: 4.063em; // 65px / 16px = 4.063em
$h2-font-size: 2.813em; // 45px / 16px = 2.813em
$h3-font-size: 1.875em; // 30px / 16px = 1.875em
$p-font-size: 1.375em; // 22px / 16px = 1.375em
$normal-font-size: 1.125em; // 18px / 16px = 1.125em
$small-font-size: 1em; // 16px / 16px = 1em
$smaller-font-size: 0.875em; // 14px / 16px = 0.875em


/**---Font-Weight---**/ 
 $font-normal: 400;
 $font-medium: 500;
 $font-semi-bold: 600;
 $font-bold: 700;

/**---Colors---**/ 
$background-color: #F7F5FA;
$banner-background: #0A033C;
$banner-background-alt:#EDE9F2;
$banner-background-light:#E4E2F4;
$text-color: #0A033C;
$text-color-alt:#5D5A6F;
$text-color-light:#5D5A6F99;
$orange:  #FF6652;
$purple: #9C4DF4;
$purple-light: #F2E6FF;
$yellow: #FFC107;
$white: #FFFFFF;

/**---Z-Index---**/ 
$z-tooltip: 10;
$z-fixed: 100;