// Variables
/**---Colors---**/ 
$background-color: #F7F5FA;
$banner-background: #0A033C;
$banner-background-alt:#EDE9F2;
$text-color: #0A033C;
$text-color-alt:#5D5A6F;
$text-color-light:#5D5A6F99;
$orange:  #FF6652;
$purple: #9C4DF4;
$purple-light: #F2E6FF;
$yellow: #FFC107;
$white: #FFFFFF;