@import "../utilities/variables";
.button {
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: #{$font-medium};
  transition: 0.3s;
  font-family: var(--secondary-font);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  border: none;
  &__purple--primary {
    background-color: #{$purple};
    color: #{$white};
    letter-spacing: 0.5px;
  }
  &__purple--secondary {
    background-color:transparent;
    color: #{$purple};  
    border: 1px solid #{$purple};
    border-radius: 5px;
    &:hover{
      background-color: #{$purple};
      color: #{$white};
     
    }
  }
  &__purple--tertiary{
    border: none;
    background-color: #{$purple-light};
    color: #{$purple};
    font-size: #{$smaller-font-size};
    padding: 0.75rem 1.75rem;
  }
  &__orange--primary {
    background-color: #{$orange};
    color: #{$white};
    letter-spacing: 0.5px;
  }
  &__orange--secondary {
    background-color:transparent;
    color: #{$orange};  
    border: 1px solid #{$orange};
  }
  &__normal{
    border: none;
    background-color: transparent;
    font-weight: #{$font-bold};
    color: #{$text-color};
    &:hover{
      background-color: #{$orange};
      color: #{$white};
    }
  }
}
