@import "../utilities/variables";
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: #{$z-fixed};
    background-color:#{$background-color};
    padding: 1em
}
.nav{
    height: #{$header-height};
    &__data{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    // DROPDOWN MENU
    .dropdown{
        &__button{
            cursor: pointer;
        }
        &__arrow{
            font-size: #{$normal-font-size};
            font-weight: initial;
            transition: transform .4s ;
        }
        &__container{
            background-color: #{$background-color};
            height: 0;
            overflow: hidden;
            transition: height .4s;
        }
        &__content, &__group, &__list{
            display: grid;
        }
        &__content{
            row-gap: 1.75rem
        }
        &__group{
            padding-left: 2rem;
            row-gap: .75rem;
            &:first-child{
                margin-top: 0.25rem;
            }
            &:last-child{
                margin-bottom: 0.25rem;
            }
            .dropdown__list{
                row-gap: .5rem;
                .dropdown__link{
                    font-size: #{$smaller-font-size};
                    font-family: var(--semi-bold-font);
                    color: #{$text-color-alt};
                    transition: color .3s;
                    &:hover{
                        color: #{$text-color-light};
                    }
                }
            }
        }
       
    }
    .show-dropdown .dropdown__arrow{
        transform: rotate(180deg);
    }
    &__toggle{
        position: relative;
        width: 32px;
        height: 32px;   
        &-menu, &-close{
            font-size: 1.75rem;
            color: #{$purple};
            position: absolute;
            display: grid;
            place-items: center;
            inset: 0;
            cursor: pointer;
            transition:  opacity .1s, transform .4s;
        } 
        &-close{
            opacity: 0;
        }
    }
    &__link{
        color: #{$text-color};
        font-family: var(--semi-bold-font);
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color .3s;
        &:hover{
            background-color: #{$purple-light};
        }
    }
    .active{
        color: #{$purple};
    }
    &__right{
        & .bx-shopping-bag{
            color: #{$orange};
            padding: 0 .5rem;
            font-size: #{$p-font-size};
        }
        & .bx-user-circle{
            color: #{$purple};
            padding: 0 .5rem;
            font-size: #{$p-font-size};
        }
    }
    .show-menu{
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
    }
    .show-icon &__toggle-menu{
        opacity: 0;
        transform: rotate(90deg);
    }
    .show-icon &__toggle-close{
        opacity: 1;
        transform: rotate(90deg);
    }
}